code {
	padding: 0 4px;
	border: none;
}

div.post {
	margin-top: 20px;	
}

.navbar img {
	height: 30px;
	margin: 5px;
	float: right;
}

h1, #by{
	margin-bottom: 20px;
}

#by {
	margin-top: -20px;
}

div#bar {
	width: 940px;
	margin: 0px auto;
}
